{
  "openapi": "3.0.4",
  "info": {
    "title": "Auth API",
    "description": "Orum Auth API.",
    "version": "v2022-09-21"
  },
  "servers": [
    {
      "url": "https://api-sandbox.orum.io"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "How to authenticate"
        ],
        "summary": "Request an access token",
        "description": "<a href=\"https://orum.io/contact/\" target=\"_blank\">Contact Orum</a> for access to an Orum Portal account, where you can set up your login credentials.<br /><br />Use this <code>/oauth/token</code> endpoint to exchange API credentials created in the Portal (client_id and client_secret) for an <code>access_token</code>.<br /><br /> To authenticate to all protected Orum endpoints, pass the <code>access_token</code> in the Authorization header <code>Bearer ${token}</code>.<br />The auth token is valid for one hour.",
        "operationId": "post-oauth-token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OauthTokenBody"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OauthTokenBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OauthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "forbidden request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "internal server error."
          },
          "503": {
            "description": "service unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deliver/persons": {
      "post": {
        "tags": [
          "Persons"
        ],
        "summary": "Create a person",
        "description": "Create a person object to represent a human customer.",
        "operationId": "post-person",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Persons"
        ],
        "summary": "Get all persons",
        "description": "Get all persons objects.",
        "operationId": "get-persons",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index for paginated results",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            },
            "x-orum-error-invalid": {
              "known-error": "index"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Max number of results to return",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "x-orum-error-invalid": {
              "known-error": "size"
            }
          },
          {
            "name": "customer_reference_id",
            "in": "query",
            "description": "Filter by customer reference id",
            "schema": {
              "$ref": "#/components/schemas/CustomerReferenceId"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by customer statuses (multiple allowed)",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PersonStatus"
              }
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_person_status"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Filter results created at or after this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_start_time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Filter results created before this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_end_time"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "The first name to filter persons by (case-insensitive, exact match).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "The last name to filter persons by (case-insensitive, exact match).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_number",
            "in": "query",
            "description": "Filter by account number",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/UsBankAccountNumber"
                }
              ]
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_account_number"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter results by the person id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "x-orum-error-invalid": {
              "message": "Orum ID is invalid. Pass in a valid uuid",
              "code": "invalid_orum_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonsResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Persons"
        ],
        "summary": "Update a person by customer reference id",
        "description": "Update a person object using its reference id.",
        "operationId": "put-person-using-reference-id",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutPersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutPersonResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/persons/{id}": {
      "get": {
        "tags": [
          "Persons"
        ],
        "summary": "Get a person by id",
        "description": "Get a person object.",
        "operationId": "get-person",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the person resource you are fetching.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_person"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Persons"
        ],
        "summary": "Update a person by id",
        "description": "Update a person object by its id.",
        "operationId": "put-person",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the person resource you are updating.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_person"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutPersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutPersonResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Persons"
        ],
        "summary": "Partial update a person by id",
        "description": "Update individual fields on person object.",
        "operationId": "patch-person",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the resource for the person resource you are updating.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_person"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchPersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/businesses": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Create a business",
        "description": "Create a business object to represent a business customer.",
        "operationId": "post-business",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Get all businesses",
        "description": "Get all business objects.",
        "operationId": "get-businesses",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index for paginated results",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            },
            "x-orum-error-invalid": {
              "known-error": "index"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Max number of results to return",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "x-orum-error-invalid": {
              "known-error": "size"
            }
          },
          {
            "name": "customer_reference_id",
            "in": "query",
            "description": "Filter by customer reference id",
            "schema": {
              "$ref": "#/components/schemas/CustomerReferenceId"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by customer statuses (multiple allowed)",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/BusinessStatus"
              }
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_business_status"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Filter results created at or after this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_start_time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Filter results created before this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_end_time"
            }
          },
          {
            "name": "legal_name",
            "in": "query",
            "description": "Filter by legal name",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LegalName"
                }
              ]
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_legal_name"
            }
          },
          {
            "name": "account_number",
            "in": "query",
            "description": "Filter by account number",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/UsBankAccountNumber"
                }
              ]
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_account_number"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter results by the business id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "x-orum-error-invalid": {
              "message": "Orum ID is invalid. Pass in a valid uuid",
              "code": "invalid_orum_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Businesses"
        ],
        "summary": "Update a business by reference id",
        "description": "Update a business object using reference id.",
        "operationId": "put-business-using-reference-id",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutBusinessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutBusinessResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/businesses/{id}": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Get a business by id",
        "description": "Get a business object.",
        "operationId": "get-business",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the business you are fetching.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_business"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Businesses"
        ],
        "summary": "Update a business by id",
        "description": "Update a business object by id.",
        "operationId": "put-business",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the business you are updating.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_business"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutBusinessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutBusinessResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Businesses"
        ],
        "summary": "Partial update a business by id",
        "description": "Update individual fields on a business object.",
        "operationId": "patch-business",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the business you are updating.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_business"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchBusinessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/external/accounts": {
      "post": {
        "tags": [
          "External Accounts"
        ],
        "summary": "Create an external account",
        "description": "Create an external account object.",
        "operationId": "post-external-account",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "External Accounts"
        ],
        "summary": "Get all external accounts",
        "description": "Get all external account objects.",
        "operationId": "get-external-accounts",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index for paginated results",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            },
            "x-orum-error-invalid": {
              "known-error": "index"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Max number of results to return",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "x-orum-error-invalid": {
              "known-error": "size"
            }
          },
          {
            "name": "account_reference_id",
            "in": "query",
            "description": "Filter by account reference id",
            "schema": {
              "$ref": "#/components/schemas/AccountReferenceId"
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_query_account_reference_id"
            }
          },
          {
            "name": "customer_reference_id",
            "in": "query",
            "description": "Filter by customer reference id",
            "allowEmptyValue": true,
            "schema": {
              "$ref": "#/components/schemas/CustomerReferenceId"
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_query_customer_reference_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "External Accounts"
        ],
        "summary": "Update an external account by reference id",
        "description": "Update an external account object using its reference id.",
        "operationId": "put-external-account-using-reference-id",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutExternalAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/external/accounts/{id}": {
      "get": {
        "tags": [
          "External Accounts"
        ],
        "summary": "Get an external account by id",
        "description": "Get an external account object.",
        "operationId": "get-external-account",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the resource for the external account you are fetching.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_external_account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "External Accounts"
        ],
        "summary": "Update an external account by id",
        "description": "Update an external account object.",
        "operationId": "put-external-account",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the resource for the external account you are updating.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_external_account"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutExternalAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "External Accounts"
        ],
        "summary": "Partial update an external account by id",
        "description": "Update individual fields on an external account object.",
        "operationId": "patch-external-account",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the resource for the external account you are updating.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_external_account"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchExternalAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/persons/{id}/external/accounts": {
      "get": {
        "tags": [
          "External Accounts"
        ],
        "summary": "Get all external accounts for a specific person",
        "description": "Get all external account objects, associated with a specific person",
        "operationId": "get-person-external-accounts",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the person you are requesting accounts for",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_person"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index for paginated results",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            },
            "x-orum-error-invalid": {
              "known-error": "index"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Max number of results to return",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "x-orum-error-invalid": {
              "known-error": "size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/businesses/{id}/external/accounts": {
      "get": {
        "tags": [
          "External Accounts"
        ],
        "summary": "Get all external accounts for a specific business",
        "description": "Get all external account objects, associated with a specific business",
        "operationId": "get-business-external-accounts",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the business you are requesting accounts for",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_business"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index for paginated results",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            },
            "x-orum-error-invalid": {
              "known-error": "index"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Max number of results to return",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "x-orum-error-invalid": {
              "known-error": "size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/cards": {
      "post": {
        "tags": [
          "Cards"
        ],
        "summary": "Create a card",
        "description": "Create a card object.",
        "operationId": "post-card",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Get all cards",
        "description": "Get all cards by filter.",
        "operationId": "get-cards",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index for paginated results",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            },
            "x-orum-error-invalid": {
              "known-error": "index"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Max number of results to return",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "x-orum-error-invalid": {
              "known-error": "size"
            }
          },
          {
            "name": "customer_reference_id",
            "in": "query",
            "description": "Filter by customer reference id",
            "schema": {
              "$ref": "#/components/schemas/CustomerReferenceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardsResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/cards/{id}": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Get a card by id",
        "description": "Get a card object by id.",
        "operationId": "get-card",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the resource for the card you are fetching.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_card"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/transfers": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Create a transfer",
        "description": "Initiate a transfer between a source party and destination party.",
        "operationId": "post-transfer",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Transfers"
        ],
        "summary": "Get all transfers",
        "description": "Get all transfer objects.",
        "operationId": "get-transfers",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index for paginated results",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            },
            "x-orum-error-invalid": {
              "known-error": "index"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Max number of results to return",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "x-orum-error-invalid": {
              "known-error": "size"
            }
          },
          {
            "name": "transfer_reference_id",
            "in": "query",
            "description": "Filter results by transfer reference id",
            "schema": {
              "$ref": "#/components/schemas/TransferReferenceId"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter results by transfer status",
            "schema": {
              "$ref": "#/components/schemas/TransferStatus"
            },
            "x-orum-error-invalid": {
              "known-error": "invalid_status"
            }
          },
          {
            "name": "transfer_group_id",
            "in": "query",
            "description": "Filter results by transfer group id",
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransfersResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/transfers/{id}": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "summary": "Get a transfer by id",
        "description": "Get a transfer object.",
        "operationId": "get-transfer",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the transfer you are fetching.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_transfer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Transfers"
        ],
        "summary": "Update transfer metadata by id",
        "description": "Update the metadata on a transfer.",
        "operationId": "patch-transfer-metadata",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the transfer you are fetching.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_transfer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferPatchMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/transfers/{id}/cancel": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Cancel a transfer by id",
        "description": "Initiates a transfer cancellation request if the transfer is eligible.",
        "operationId": "post-transfer-cancel",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the transfer you are canceling.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_transfer"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "202 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferCancelResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/eligibility": {
      "post": {
        "tags": [
          "Eligibility"
        ],
        "summary": "Check if a routing number is eligible for RTP or FedNow",
        "description": "Returns routing number eligibility",
        "operationId": "post-eligibility",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EligibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EligibilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Eligibility"
        ],
        "summary": "A list of RTP and FedNow Eligible Routing Numbers",
        "description": "Returns all routing numbers that are eligible for RTP and FedNow",
        "operationId": "get-eligibility",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEligibilityResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/transfer-groups": {
      "post": {
        "tags": [
          "Transfer Groups"
        ],
        "summary": "Create a Transfer Group",
        "description": "Create a Transfer Group object.",
        "operationId": "post-transfer-group",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TransferGroupRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Transfer Groups"
        ],
        "summary": "Get all Transfer Groups",
        "description": "Get all Transfer Group objects, sorted by most recently created transfer groups",
        "operationId": "get-transfer-groups",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index for paginated results",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            },
            "x-orum-error-invalid": {
              "known-error": "index"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Max number of results to return",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "x-orum-error-invalid": {
              "known-error": "size"
            }
          },
          {
            "name": "transfer_group_reference_id",
            "in": "query",
            "description": "Filter results by reference id.",
            "schema": {
              "type": "string"
            },
            "x-orum-error-missing": {
              "known-error": "invalid_transfer_group_reference_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferGroupsResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/transfer-groups/{id}": {
      "get": {
        "tags": [
          "Transfer Groups"
        ],
        "summary": "Get a Transfer Group",
        "description": "Get a Transfer Group object by ID",
        "operationId": "get-transfer-group",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Transfer Group ID",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique identifier for the transfer group in UUID format.",
              "format": "uuid"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id_transfer_group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/balance": {
      "get": {
        "tags": [
          "Balance"
        ],
        "summary": "Get balance",
        "description": "Get balance object.",
        "operationId": "get-balance",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested enterprise account balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/deliver/reports/balances": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get a balance statement summary report",
        "description": "Get a balance statement summary report for the requested start and end date.",
        "operationId": "get-reports-balances",
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StartTime"
                }
              ]
            },
            "x-orum-error-missing": {
              "message": "start_time is required",
              "code": "missing_start_time"
            },
            "x-orum-error-invalid": {
              "message": "start_time must be a valid timestamp",
              "code": "invalid_start_time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EndTime"
                }
              ]
            },
            "x-orum-error-missing": {
              "message": "end_time is required",
              "code": "missing_end_time"
            },
            "x-orum-error-invalid": {
              "message": "end_time must be a valid timestamp",
              "code": "invalid_end_time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read:reports"
            ]
          }
        ]
      }
    },
    "/verify/accounts": {
      "post": {
        "tags": [
          "Verify"
        ],
        "summary": "Post verify accounts",
        "description": "Request account verification.",
        "operationId": "post-verify-accounts",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Verify"
        ],
        "summary": "Get all verify accounts",
        "description": "Get all verify accounts, sorted by most recently created.",
        "operationId": "get-verify-accounts",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index for paginated results",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            },
            "x-orum-error-invalid": {
              "known-error": "index"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Max number of results to return",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "x-orum-error-invalid": {
              "known-error": "size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/verify/accounts/{id}": {
      "get": {
        "tags": [
          "Verify"
        ],
        "summary": "Get a verify account",
        "description": "Get a single verify account.",
        "operationId": "get-verify-account",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the account you are fetching.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/verify/accounts/{id}/control": {
      "post": {
        "tags": [
          "Verify"
        ],
        "summary": "Verify account control",
        "description": "Verify control for a single verify account.",
        "operationId": "post-verify-account-control",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the account you are verifying.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyAccountControlRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/verify/accounts/{id}/debits": {
      "post": {
        "tags": [
          "Verify"
        ],
        "summary": "Verify account debit status",
        "description": "Verify debit status for a single verify account.",
        "operationId": "post-verify-account-debit",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Orum generated unique id for the account you are verifying.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumId"
            },
            "x-orum-error-invalid": {
              "known-error": "unknown_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/webhooks/configurations": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "Create Webhook Configuration",
        "description": "Configure a webhook URL for specific event types.",
        "operationId": "create-webhook-configuration",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookConfiguration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookConfigurationResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhook configurations",
        "description": "List all webhook configurations",
        "operationId": "list-webhook-configurations",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index for paginated results",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            },
            "x-orum-error-invalid": {
              "known-error": "index"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Max number of results to return",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "default": 100
            },
            "x-orum-error-invalid": {
              "known-error": "size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhookConfigurationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/webhooks/invoke": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "Invoke webhook",
        "description": "Invoke a webhook",
        "operationId": "invoke-webhook",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvokeWebhookConfiguration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Invoked."
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/webhooks/configurations/{id}": {
      "put": {
        "tags": [
          "Webhook"
        ],
        "summary": "Update Webhook Configuration",
        "description": "Update a webhook URL for specific event types.",
        "operationId": "update-webhook-configuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookConfiguration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookConfigurationResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook configuration",
        "description": "Delete webhook configuration by id",
        "operationId": "delete-webhook-configuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [ ]
          }
        ]
      }
    },
    "/webhooks/secret": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "Initialize keypair",
        "description": "Initialize secure webhook keypair",
        "operationId": "initialize-keypair",
        "parameters": [
          {
            "name": "Orum-Version",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OrumVersion"
            },
            "x-orum-error-invalid": {
              "known-error": "version_invalid"
            },
            "x-orum-error-missing": {
              "known-error": "version_missing"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitializeKeypairResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid request.",
            "content": {
              "application/json": {
                "schema": {
[...]
